<html>

<head>
  <title>Pokemonbois &bull; Team</title>
</head>

<body>
  <h1>Pokemon Go DB</h1>
  <p>Here are some tools to query the Pokemon Go database</p>
  <p>Find pokemon with...</p>
  <form action="/getPokemen" method="POST">
    <label>Type</label>
    <br>
    <input type="checkbox" name="type" value="Normal">Normal
    <br>
    <input type="checkbox" name="type" value="Fighting">Fighting
    <br>
    <input type="checkbox" name="type" value="Flying">Flying
    <br>
    <input type="checkbox" name="type" value="Poison">Poison
    <br>
    <input type="checkbox" name="type" value="Ground">Ground
    <br>
    <input type="checkbox" name="type" value="Rock">Rock
    <br>
    <input type="checkbox" name="type" value="Bug">Bug
    <br>
    <input type="checkbox" name="type" value="Ghost">Ghost
    <br>
    <input type="checkbox" name="type" value="Steel">Steel
    <br>
    <input type="checkbox" name="type" value="Fire">Fire
    <br>
    <input type="checkbox" name="type" value="Water">Water
    <br>
    <input type="checkbox" name="type" value="Grass">Grass
    <br>
    <input type="checkbox" name="type" value="Electric">Electric
    <br>
    <input type="checkbox" name="type" value="Psychic">Psychic
    <br>
    <input type="checkbox" name="type" value="Ice">Ice
    <br>
    <input type="checkbox" name="type" value="Dragon">Dragon
    <br>
    <input type="checkbox" name="type" value="Fairy">Fairy
    <br>
    <input type="checkbox" name="type" value="Dark">Dark
    <hr>
    <label>ID</label>
    <input type="text" name="id" placeholder="Blank for no specifc ID">
    <hr>
    <label>Weaknesses</label>
    <br>
    <input type="checkbox" name="weak" value="Normal">Normal
    <br>
    <input type="checkbox" name="weak" value="Fighting">Fighting
    <br>
    <input type="checkbox" name="weak" value="Flying">Flying
    <br>
    <input type="checkbox" name="weak" value="Poison">Poison
    <br>
    <input type="checkbox" name="weak" value="Ground">Ground
    <br>
    <input type="checkbox" name="weak" value="Rock">Rock
    <br>
    <input type="checkbox" name="weak" value="Bug">Bug
    <br>
    <input type="checkbox" name="weak" value="Ghost">Ghost
    <br>
    <input type="checkbox" name="weak" value="Steel">Steel
    <br>
    <input type="checkbox" name="weak" value="Fire">Fire
    <br>
    <input type="checkbox" name="weak" value="Water">Water
    <br>
    <input type="checkbox" name="weak" value="Grass">Grass
    <br>
    <input type="checkbox" name="weak" value="Electric">Electric
    <br>
    <input type="checkbox" name="weak" value="Psychic">Psychic
    <br>
    <input type="checkbox" name="weak" value="Ice">Ice
    <br>
    <input type="checkbox" name="weak" value="Dragon">Dragon
    <br>
    <input type="checkbox" name="type" value="Fairy">Fairy
    <br>
    <input type="checkbox" name="weak" value="Dark">Dark
    <hr>
    <label>Check box if pokemon MUST have EVERY type listed above</label>
    <input type="checkbox" name="all">
    <hr>
    <input type="submit">
  </form>
</body>

</html>
