<html>
<head>
  <title>Your Pokemon &bull; Team</title>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>

<body>
  <h1>Results</h1>
  <p>You asked for pokemon with</p>
  <ul>
    <li>types: {{ types }}</li>
    <li>weaknesses: {{ weaknessesi }}</li>
    <li>and the ID: {{ ID }}</li>
  </ul>
  <a href="/pokemon">Back to pokemon search</a><br>
  <a href="/">Back home</a> {% if hasmon %}
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Types</th>
      <th>Weaknesses</th>
      <th>Image</th>
    </tr>
    {% for p in pokemon %}
    <tr>
      <td>{{ p["id"] }}</td>
      <td>{{ p["name"] }}</td>
      <td>{{ p["type"]|join(', ') }}</td>
      <td>{{ p["weaknesses"]|join(', ') }}</td>
      <td><img src="{{ p['img'] }}"></td>
    </tr>
    {% endfor %}
    <br>

  </table>
  {% else %}
  <p>No results found!</p>
  {% endif %}
</body>
</html>